<h2>Add New Subtopic</h2>

<form #subtopicForm="ngForm" (ngSubmit)="submitSubtopic(subtopicForm)">
  <div>
    <label for="branch">Select Branch:</label>
    <select
      id="branch"
      name="branch"
      required
      [(ngModel)]="selectedBranchId"
      (change)="onBranchChange()"
      ngModel
    >
      <option value="">-- Select Branch --</option>
      <option value="none">None</option>
      <option *ngFor="let branch of branches" [value]="branch._id">
        {{ branch.name }}
      </option>
    </select>
  </div>

  <div>
    <label for="subject">Select Subject:</label>
    <select
      id="subject"
      name="subject"
      required
      [(ngModel)]="selectedSubjectId"
      (change)="onSubjectChange()"
      ngModel
    >
      <option value="">-- Select Subject --</option>
      <option value="none">None</option>
      <option *ngFor="let subject of subjects" [value]="subject._id">
        {{ subject.name }}
      </option>
    </select>
  </div>

  <div>
    <label for="topic">Select Topic:</label>
    <select
      id="topic"
      name="topic"
      required
      [(ngModel)]="selectedTopicId"
      ngModel
    >
      <option value="">-- Select Topic --</option>
      <option value="none">None</option>
      <option *ngFor="let topic of topics" [value]="topic._id">
        {{ topic.name }}
      </option>
    </select>
  </div>

  <div>
    <label for="subtopic">Subtopic Name:</label>
    <input
      type="text"
      id="subtopic"
      name="subtopic"
      required
      [(ngModel)]="subtopicName"
    />
  </div>

  <button type="submit" [disabled]="isLoading">
    {{ isLoading ? 'Saving...' : 'Create Subtopic' }}
  </button>

  <button type="button" (click)="cancel()">Cancel</button>
</form>
